/*@media screen and (max-width: 480px){
	body{
		background-color: navy;
	}
	.menu > li{
		float: none;
		text-align: center;
		max-width: 120px;
	}
}

@media screen and (max-width: 506px){
	.menu > li{
		padding-left: 25px;
		padding-right: 25px;
	}
}
@media screen and (min-width: 480px) and (max-width: 100px){
	body{
		background-color: green;
	}
}
@media screen and (max-width: 1000px){
	body{
		background-color: red;
	}
	
}
@media screen and (min-width: 1200px){
	body{
		background-color: aqua;
	}
	
}*/
@media screen and (min-width: 600px){
	.menu  li{
		padding: 10px 13px;
	}
}
@media screen and (max-width: 600px){
	.menu > li{
		float: none;
		max-width: 120px;
		text-align: center;
	}
	.menu .submenu{
		top: 0%;
		left: 181%;
	}
}
/*@media screen and(min-width: 480px){
	input[type=checkbox]{
		display: none;
	}
}*/
@media screen and (max-width: 480px){
	label.toggle{
			display: block;
		
	}	
	.menu{
		visibility: hidden;
	}
	input[type=checkbox]:checked + label.toggle + .menu{
		visibility: visible;
	}
}